#TítuloArco
{
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}

#textoArco
{
    padding: 70px;
    font-size: 24px;
    text-indent: 50px;
    text-shadow:rgba(0, 0, 0, 0.274) 0.07em 0.01em 0.01em; 
}

#imagemTexto
{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 70px;
    margin-right: 20px;
}
#imagemTextoDireita
{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 70px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
}

#arco
{
    padding: 30px;
}

h3{
    font-size: 30px;
}

h2{
    color: rgb(241, 250, 117);
    font-size: 40px;
}

h1
{
    font-size: 50px;
}

.area2 {
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 60px;
    transition: 0.1s;
    color: #fffeb5;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 550;
    text-shadow: rgba(0, 0, 0, 0.274) 0.07em 0.01em 0.01em;
    user-select: none;
    cursor: default;
}

#TítuloFrase
{
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    text-decoration: none;
    color: gold;
}
