
.caixa_login{
    position:static;
    width: 600px;
    height: 600px; /* Use "auto" para que a altura se ajuste ao conteúdo */
    padding: 40px;
    margin: 0 auto; /* Centralize horizontalmente */
    background: linear-gradient(#9dd9ff67, rgba(129, 152, 255, 0.253));
    box-sizing: border-box;
    border-radius: 15px;
    margin-top: 30px; /* Adicione margem inferior para espaço entre a caixa de login e o footer */
    margin-bottom: 50px; /* Adicione margem inferior para espaço entre a caixa de login e o footer */
    overflow: visible;
}

.caixa_login h2{
    margin: 0 0 30px;
    color: #fcff35;
    text-align: center;
    text-transform: uppercase;
}

.caixa_login .caixa_usuario{
    position:relative;
}
.caixa_login .mugiwara{
    position:relative;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px; /* Reduzi a margem inferior para alinhar melhor a imagem */
    transition: 0.5s;
}

.caixa_login .mugiwara:hover{
    transform:scale(1.08);
    pointer-events: painted;
}

.caixa_usuario input{
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    color: rgb(247, 247, 247);
    margin-bottom: 10px;
    border:none;
    border-radius: 5px;
    border-bottom: 0.5px solid #ffffff8f;
    outline:none;
    background: transparent;
}



.caixa_login label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 18px;
    color: #b0c5ff;
    pointer-events: none;
    transition: 0.2s;
}

::placeholder {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 18px;
    color: rgb(12, 80, 158);
    pointer-events: none;
    transition: 0.2s;
    font-size: 20px;
}

.caixa_login input:focus ~ label,
.caixa_login input:valid ~ label {
    top: 5px;
    left: 0px;
    color: #ffffff00;
    font-size: 14px;
}

.caixa_login .enviar, .caixa_login .esqueceu_senha {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.2s;
  letter-spacing: 3px;
  color: #b9cbff;
}

.enviar{
    text-decoration: none;
    border-color: #fcff3500;
}

.caixa_login .enviar:hover{ 
    background: #34baf0;
    color: #fff;
    box-shadow: 0 0 5px #34baf0, 0 0 10px #34baf0;
}



#copyright {
    text-decoration: underline;
    font-size: 16px;
    color: #ffffff;
}